altgraph==0.16.1
better-exceptions==0.2.2
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
docutils==0.15.2
docutils-stubs==0.0.21
future==0.17.1
idna==2.8
macholib==1.11
pefile==2019.4.18
pkginfo==1.5.0.1
prompt-toolkit==2.0.9
Pygments==2.4.2
PyInstaller==3.5
pywin32-ctypes==0.2.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.36.1
twine==2.0.0
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
