altgraph==0.17
better-exceptions==0.2.2
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
docutils==0.14
docutils-stubs==0.0.21
future==0.18.2
idna==2.10
macholib==1.14
pefile==2019.4.18
pkginfo==1.5.0.1
prompt-toolkit==3.0.8
Pygments==2.6.1
PyInstaller>=3.6
pywin32-ctypes==0.2.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
tqdm==4.50.2
twine==3.2.0
urllib3==1.25.10
wcwidth==0.2.3
webencodings==0.5.1
