altgraph==0.16.1
future==0.17.1
macholib==1.11
pefile==2019.4.18
pkg-resources==0.0.0
prompt-toolkit==2.0.9
pycairo==1.18.1
pydoro==0.1.0
PyGObject==3.32.1
PyInstaller==3.4
six==1.12.0
wcwidth==0.1.7
